
@font-face {font-family: 'Karla'; src: url('../fonts/karla-italic.woff2') format('woff2'),
    url('../fonts/karla-italic.woff') format('woff');
font-weight: normal;
font-style: italic;
font-display: fallback;
}

@font-face {
font-family: 'Karla';
src: url('../fonts/karla-regular.woff') format('woff2'),
    url('../fonts/karla-regular.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: fallback;
}

@font-face {
font-family: 'Karla';
src: url('../fonts/karla-bold.woff') format('woff2'),
    url('../fonts/karla-bold.woff') format('woff');
font-weight: bold;
font-style: normal;
font-display: fallback;
}

@font-face {
font-family: 'Futura PT';
src: url('../fonts/futurapt-bold.woff') format('woff2'),
    url('../fonts/futurapt-bold.woff') format('woff');
font-weight: bold;
font-style: normal;
font-display: fallback;
}

@font-face {
font-family: 'Futura PT';
src: url('../fonts/futurapt-heavy.woff') format('woff2'),
    url('../fonts/futurapt-heavy.woff') format('woff');
font-weight: 900;
font-style: normal;
font-display: fallback;
}

@font-face {
font-family: 'Futura PT Demi';
src: url('../fonts/futurapt-demi.woff') format('woff2'),
    url('../fonts/futurapt-demi.woff') format('woff');
font-weight: 600;
font-style: normal;
font-display: fallback;
}

@font-face {
font-family: 'Futura PT';
src: url('../fonts/futurapt-medium.woff') format('woff2'),
    url('../fonts/futurapt-medium.woff') format('woff');
font-weight: 500;
font-style: normal;
font-display: fallback;
}

@font-face {
font-family: 'Futura PT';
src: url('../fonts/futurapt-lightobl.woff') format('woff2'),
    url('../fonts/futurapt-lightobl.woff') format('woff');
font-weight: 300;
font-style: italic;
font-display: fallback;
}

@font-face {
font-family: 'Futura PT';
src: url('../fonts/futurapt-light.woff') format('woff2'),
    url('../fonts/futurapt-light.woff') format('woff');
font-weight: 300;
font-style: normal;
font-display: fallback;
}

body{
    background-color: #666;
    font-family: 'Futura PT';
}
.contentWrapper{
    box-shadow: 8px 0 8px -4px #000, -8px 0 8px -4px #000;
}
.paddingLeft5px{
    padding-left: 5px !important;
}
.leftsidebar{
    background-color: #DDD;
}
.midsection{
    background-color: #FFF;
}
.headerheight{
    height:250px;
}
.headerContentHeight{
    height:150px;
}
.profileWrapper{
    position: relative;
}
.profilePic{
    width: 100%;
}
.profilePic img{
    margin:0 auto;
    width: 100%;
    max-width: 250px;
    max-height: 250px;
}
.headerStripHeight{
    height:100px;
}
.headerStripStyle{
    background-color: #666;
    opacity: .5;
}
.headerStrip{
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
}
.headerContent{
    margin-top:40px
}
.headingRowContent{
    height: 32px;
}
.headingLabel{
    font-family: 'Karla';
    font-size: 24px;
    padding-left: 4px;
}
.contentLabel{
    display: inline;
}
.contentLabel span{
    margin-top: 10px !important;
}
.headerName{
    height: 50px;
    font-family: 'Karla';
    font-size: 42px;
    color: #000;
    text-transform: uppercase;
}
.headerPosition{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    text-transform: uppercase;
    padding-left: 18px;
}
.headerNameContainer{
    height:auto;
    margin-top:10px;
}
.contentSessionWrapper{
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contentSessionHeader{
    padding:5px;
    border-bottom: 2px solid #666;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
.contentSessionBody{
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: justify;
    font-family: 'Karla';
    line-height: 20px;
}
.contentSeperator{
    margin-top:30px;
}
.skillItems{
    padding-top: 3px;
    padding-bottom: 3px;
}
.languageItems{
    padding-top: 3px;
    padding-bottom: 3px;
}
.languageItemsRating{
    padding-top: 3px;
}
.squareRating{
    width:17px;
    height:17px;
    border:1px solid #666;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.squareRatingFill{
    background-color: #007bff;
}
.HobbiesItems{
    display: block;
    padding-bottom: 10px;
}
.HobbiesItems div{
    display: inline-block;
}
.hobbiesItemLogo{

}
.hobbiesItemLabel{
    padding-left: 5px;
}
.achievementsULSpacing{
    padding-left:15px;
    margin-bottom:0px;
}
.contentBodyWrapper{
    width:100%;
    margin-bottom: 30px;
}
.workTitileLabel{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
.workDurationLabel{
    font-style: italic;
}
.workCompanyName{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
.workCompanyDescription{

}
.workItems{
    margin-top: 20px;
}
.floatLeft{
    float: left !important;
}
.personalInfoLabel{
    width:39%;
    display: inline-block;
    font-weight: bold;
    padding-left: 3px;
}
.personalInfoData{
    width:59%;
    display: inline-block;
}
.personalInfoSeparation{
    padding-bottom: 3px;
}
.downloadResume:hover{
    cursor: pointer;
    text-decoration: underline;
}
.showInMV{
    display: none;
}
.DownloadIconMV{
    position: absolute;
    right: 10px;
    top:10px;
    display: none;
}

@media print {
    html, body {
        background-color: #FFF;    
        float: left;
    }
    pre,blockquote {
        page-break-inside: avoid;
    }
    .leftsidebar .contentSessionWrapper {
        width:190px !important;
        display: block;
    }

    .midsection .headerStrip{
        width:100vw !important;
    }
    .downloadResume{
        display: none !important;
    }

    @page {
        margin-top: 0;
        margin-bottom: 0;
    }
    body {
        padding-top: 72px;
        padding-bottom: 72px ;
    }
  
}

@media screen and (max-width: 767px) {
    .hiddenInMV{
        display: none;
    }
    .showInMV{
        display: inline;
    }
    .skillItems{
        width: 50% !important;
        display: inline-block;
    }
    .skillItems:nth-child(even) {
        margin-left: 40px;
    }
    .languageItems{
        width: 33% !important;
        display: inline-block;
    }
    .languageItems:nth-child(even) {
        margin-left: 5px;
        margin-right: 5px;
    }
    .HobbiesItems{
        width: 32% !important;
        display: inline-block;
        overflow: hidden;
    }
    .profileWrapper:hover .DownloadIconMV{
        display: inline-block;
    }
}

